/*About Us */

.transparent-circle {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #000;
    height:50px;
    width:50px;
    text-align: center;
	line-height: 40px;
	-webkit-border-radius:75px;
    -moz-border-radius:75px;
	position: relative;
	left: 100px;
	top: 50px;
}

.arrow {
    width:120px;
}

.line {
    margin-top:7px;
    width:50px;
    background:black;
    height:5px;
    float:left;
	position: relative;
	top: -5px;
	left: 155px;
}

.point {    
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
    float:right;
	position: relative;
	left: 100px;
	top: -5px;
}

/*Events*/

.transparent-circle {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #000;
    height:50px;
    width:50px;
    text-align: center;
	line-height: 40px;
	-webkit-border-radius:75px;
    -moz-border-radius:75px;
	position: relative;
	left: 100px;
	top: 50px;
}

.arrow {
    width:120px;
}

.line {
    margin-top:7px;
    width:50px;
    background:black;
    height:5px;
    float:left;
	position: relative;
	top: -5px;
	left: 155px;
}

.point {    
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
    float:right;
	position: relative;
	left: 100px;
	top: -5px;
}

/* Contact Us */

.transparent-circle {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #000;
    height:50px;
    width:50px;
    text-align: center;
	line-height: 40px;
	-webkit-border-radius:75px;
    -moz-border-radius:75px;
	position: relative;
	left: 100px;
	top: 50px;
}

.arrow {
    width:120px;
}

.line {
    margin-top:7px;
    width:50px;
    background:black;
    height:5px;
    float:left;
	position: relative;
	top: -5px;
	left: 155px;
}

.point {    
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
    float:right;
	position: relative;
	left: 100px;
	top: -5px;
}

/* Cheat Sheet */

.transparent-circle {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #000;
    height:50px;
    width:50px;
    text-align: center;
	line-height: 40px;
	-webkit-border-radius:75px;
    -moz-border-radius:75px;
	position: relative;
	left: 100px;
	top: 50px;
}

.arrow {
    width:120px;
}

.line {
    margin-top:7px;
    width:50px;
    background:black;
    height:5px;
    float:left;
	position: relative;
	top: -5px;
	left: 155px;
}

.point {    
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
    float:right;
	position: relative;
	left: 100px;
	top: -5px;
}

/* Resources */

.transparent-circle {
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #000;
    height:50px;
    width:50px;
    text-align: center;
	line-height: 40px;
	-webkit-border-radius:75px;
    -moz-border-radius:75px;
	position: relative;
	left: 100px;
	top: 50px;
}

.arrow {
    width:120px;
}

.line {
    margin-top:7px;
    width:50px;
    background:black;
    height:5px;
    float:left;
	position: relative;
	top: -5px;
	left: 155px;
}

.point {    
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
    float:right;
	position: relative;
	left: 100px;
	top: -5px;
}


